<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"  />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame"> 
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1"> <img src="images/profile.jpg" width="156" height="152" alt=""/></div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><nobr><%=user.profession%></nobr></div>
                    <div class="left-icons"> 
                        <a class="link_href" href="">
                            <div class="icon"> 
                                <img src="icon/drible.svg" class="icon-1"/>
                             </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon"> 
                                <img src="icon/facebook.svg" class="icon-1"/>
                             </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon"> 
                                <img src="icon/instagram.svg" class="icon-1"/>
                             </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon"> 
                                <img src="icon/linkedin.svg" class="icon-1"/>
                             </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon"> 
                                <img src="icon/twitter.svg" class="icon-1"/>
                             </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon"> 
                                <img src="icon/youtube.svg" class="icon-1"/>
                             </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="age">
                        <div class="rectangle-1">Age:</div> <%=user.age%>
                    </div>

                    <div class="residence"> 
                        <div class="rectangle-2"> Residence:</div> <%=user.residence%>
                    </div>
                    
                    <div class="freelance">
                        <div class="rectangle-3">Freelance:</div> <%=user.freelance%> 
                    </div>

                    <div class="address">
                        <div class="rectangle-4">Address:</div><nobr> <%=user.address%></nobr>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="session-language"> Languages</div>
                    <div class="language"><div>Uzbek</div> <div>100%</div></div>
                    <div class="percentage-border"><div class="inner-percentage uzbek-percentage"></div></div>
                    <div class="language"><div>Korean</div><div>80%</div></div>
                    <div class="percentage-border"><div class="inner-percentage korean-percentage"></div></div>
                    <div class="language"><div>English</div><div>60%</div></div>
                    <div class="percentage-border"><div class="inner-percentage english-percentage"></div></div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <p class="skills">Skills</p>
                    <div class="skill"><div>HTML</div><div>90%</div></div>
                    <div class="percentage-border"><div class="inner-percentage html-percentage"></div> </div>
                    <div class="skill"><div>CSS</div><div>85%</div></div>
                    <div class="percentage-border"><div class="inner-percentage css-percentage"></div> </div>
                    <div class="skill"><div>Js</div><div>80%</div></div>
                    <div class="percentage-border"><div class="inner-percentage js-percentage"></div> </div>
                    <div class="skill"><div>PHP</div><div>75%</div></div>
                    <div class="percentage-border"><div class="inner-percentage php-percentage"></div> </div>
                    <div class="skill"><div>WordPress</div><div>85%</div></div>
                    <div class="percentage-border"><div class="inner-percentage wordpress-percentage"></div> </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <p>Extra Skills</p>
                    <div class="extra-skills"> 
                        <div class="extra-skill-session">
                            <div class="icon"> 
                                <img src="btn_icon/icon.svg" class="icon-1"/>
                            </div>
                            <div>
                                Bootstrap,Materialize
                            </div>
                        </div>
                        <div class="extra-skill-session">
                            <div class="icon"> 
                                <img src="btn_icon/icon.svg" class="icon-1"/>
                            </div>
                            <div>
                                Stylus, Sass, Less
                            </div>
                        </div>
                        <div class="extra-skill-session">
                            <div class="icon"> 
                                <img src="btn_icon/icon.svg" class="icon-1"/>
                            </div>
                            <div><nobr>Gulp, Webpack, Grunt</nobr>
                            </div>
                        </div>
                        <div class="extra-skill-session">
                            <div class="icon"> 
                                <img src="btn_icon/icon.svg" class="icon-1"/>
                            </div>
                            <div>
                                GIT Knowledge
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                
            </div>
            
            <div class="midd_frame">
                <div class="midd-fist">
                    <div class="job"> Doctor neurologists in OHSU Hospital 
                    </div>
                    <div class="job-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus
                    </div>
                    <a class="link_href" href=""><div class="btn-hire"> <img src="btn_icon/bookMe.svg" width="154.16px" height="49.62px" alt="HireMe"/>
                        </div>
                    </a>
                    <div class="main-image"> <img src="images/main-image.png" width="326.06px" height="446.63px" alt="HireMe"/>
                    </div>
                    <div class="midd-ellipse-15"></div>
                    <div class="midd-ellipse-16"></div>
                    <div class="midd-rectangle"></div>
                    <div class="midd-ellipse-12"></div>
                    <div class="midd-ellipse-13"></div>
                    <div class="midd-rectangle-51"></div>
                    <div class="polygon"></div>
                    
                    <!-- <button class="btn-frame"><div class="btn-hire" >HIRE ME</div></button> -->
                </div>

                <div class="midd-second">
                    <h4>My Services</h4>
                    <div class="service-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor 
                        do amet sint. Velit officia 
                        consequat duis enim velit mollit. 
                        lorem ipsum
                    </div>
                    
                    <div class="items">
                        <div class="web-development">
                            <a class="link_href" href="">
                                <div class="icon"> 
                                    <img src="icon/coding.svg" class="icon-1"/>
                                 </div>
                            </a>
                            <h4>Web Development</h4>
                            <nobr>blog, e-commerce</nobr>
    
                        </div>
    
                        <div class="web-development">
                            <a class="link_href" href="">
                                <div class="icon"> 
                                    <img src="icon/illustration.svg" class="icon-1"/>
                                 </div>
                            </a>
                            <h4>UI/UX Design</h4>
                            <nobr>Mobile App, Website Design</nobr>
    
                        </div>
                        <div class="web-development">
                            <a class="link_href" href="">
                                <div class="icon"> 
                                    <img src="icon/microphone.svg" class="icon-1"/>
                                 </div>
                            </a>
                            <h4>Sound Design</h4>
                            <nobr>Voice over, beat making</nobr>
    
                        </div>

                        <div class="web-development">
                            <a class="link_href" href="">
                                <div class="icon"> 
                                    <img src="icon/game-development.svg" class="icon-1"/>
                                 </div>
                            </a>
                            <h4>Game design</h4>
                            <nobr>character design, props & objects</nobr>
    
                        </div>
                        <div class="web-development">
                            <a class="link_href" href="">
                                <div class="icon"> 
                                    <img src="icon/photographer.svg" class="icon-1"/>
                                 </div>
                            </a>
                            <h4>photography</h4>
                            <nobr>portrait, product photography</nobr>
    
                        </div>
                        <div class="web-development">
                            
                            <div class="advertising-session">Advertising</div>
                            <div class="last-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                                 volutpat fe.
                            </div>
                            <a href=""> <nobr class="order-now">order now > </nobr>
                            </a>
    
                        </div>
                    </div>
                </div>

                

            </div>

            <div class="right_frame">
                <a class="right-icon" href="">
                    <img src="menu_icon/contrast.svg" />
                </a>

                <div class="menu-icons">

                    <a class="menu-icon-home" href="">
                        <img src="menu_icon/home.svg" />
                    </a>
                    <a class="menu-icon" href="">
                        <img src="menu_icon/service.svg" />
                    </a>
                    <a class="menu-icon" href="">
                        <img src="menu_icon/cv.svg" />
                    </a>
                    <a class="menu-icon" href="">
                        <img src="menu_icon/portfolio.svg" />
                    </a>
                    <a class="menu-icon" href="">
                        <img src="menu_icon/blog.svg" />
                    </a>
                    <a class="menu-icon" href="">
                        <img src="menu_icon/contact.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>